.page {
  position: relative;
  display: flex;
  padding-top: 18px;
  background-color: #fec7ee;
}

.page::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 0.3);
}

.page__video {
  position: absolute;
  inset: 0;
  /* z-index: -2; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.page__heading {
  max-width: 720px;
  margin: 0 auto;
  z-index: 1;
  align-self: flex-start;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 108px;
  line-height: 125px;
  letter-spacing: 3.5px;
  text-align: center;
  text-transform: uppercase;
}

.page__heading::after {
  content: "*";
}

.page__heading:hover {
  color: #4c4c4c;
}

.page__heading:hover::before {
  content: "На самом деле нет.\AВажнее — научиться ошибаться.";
  position: absolute;
  top: 100px;
  right: 50px;
  z-index: 0;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 35px 52px;
  box-shadow: 0 8px 0 #000;
  color: #000;
  font-weight: 400;
  font-size: 33px;
  line-height: 100%;
  letter-spacing: normal;
  text-align: left;
  text-transform: none;
  background-color: #fff;
  cursor: default;
  white-space: pre;
}
