.page {
  position: relative;
  z-index: 0;
  padding-top: 18px;
}

.page::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
  background-color: rgb(255 255 255 / 0.3);
}

.page__video {
  position: absolute;
  inset: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.page__heading {
  margin: 0 auto;
  max-width: 739px;
  font-size: 7.25vw;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2.5px;
  line-height: 125px;
}

.page__heading::after {
  content: "*";
}

.page__heading:hover::before {
  content: "На самом деле нет.\AВажнее — научиться ошибаться.";
  white-space: pre;
  font-size: 2.18vw;
  font-weight: 400;
  line-height: 100%;
  text-align: left;
  text-transform: none;
  letter-spacing: 0;
  position: absolute;
  z-index: 0;
  top: 100px;
  right: 130px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 35px 52px;
  box-shadow: 0 8px 0 #000;
}
